.header__logo {
  border-radius: 100px;
  position: absolute;
  left: 800px;
  width: 120px;
  height: 120px;
  transition: height 0.5s, width 0.5s; }

.header__logo:hover {
  width: 132px;
  height: 132px; }

.header__user {
  left: 800px;
  width: 40px;
  height: 40px;
  margin: 10px;
  transition: height 0.5s, width 0.5s; }

.header__user:hover {
  width: 50px;
  height: 50px; }

/*Mobile First*/
@media only screen and (max-width: 320px) {
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .div__collage {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center; }
  .div__collage--productos {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  .div__collage {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center; }
  .div__collage--productos {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center; }
  div__iframe {
    display: grid;
    grid-template-areas: "h2 h2 h2" "iframe iframe iframe";
    grid-template-rows: 0.5fr 3 fr;
    grid-template-columns: repeat(3, 1fr); } }

@media only screen and (min-width: 1024px) {
  nav ul {
    /*margin: auto;
		width: 75%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap; }
  .div__collage {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center; }
  .div__collage--productos {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center; }
  div__iframe {
    display: grid;
    grid-template-areas: "h2 h2 h2" "iframe iframe iframe";
    grid-template-rows: 0.5fr 3 fr;
    grid-template-columns: repeat(3, 1fr); } }

nav ul li {
  background-color: #F1EEE8;
  /*#87A29E;;#759597*/
  padding: 10px;
  margin: 100px 5px  5px 5px;
  /*width:125px ;*/
  /*display:  inline-block;*/
  list-style-type: none; }

nav ul li a {
  font-family: Comic Sans MS;
  /*text-align: center;*/
  text-decoration: none;
  color: #DFA784; }

a:hover {
  text-shadow: 5px 5px 5px #944B40;
  color: #DFA784; }

.menu {
  background: white; }

body {
  background: #FFE6B3;
  background-image: linear-gradient(to bottom, #F1EEE8, #87A29E); }

header a {
  font-family: Helvetica;
  text-align: left;
  text-decoration: none;
  color: #DFA784; }

body div img {
  border: 10px solid white;
  width: 400px;
  height: 400px; }

footer {
  background: #87A29E; }

.footer__a, footer ul li {
  font-family: Comic Sans MS;
  /*Helvetica*/
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 10px;
  width: 90px;
  display: inline; }

.enviar {
  background: #809480;
  color: white; }

header, nav {
  background: #F1EEE8; }

h2 {
  color: #5B6144; }

.div__select {
  text-shadow: 1px 1px 1px #944B40;
  color: #DFA784;
  font-size: 20px; }

.div__select option {
  text-shadow: 1px 1px 1px #944B40;
  color: #DFA784;
  font-size: 15px; }

.div__select {
  border-radius: 100px;
  padding: 5px;
  color: #DFA784;
  font-size: 15px; }

option:hover {
  text-shadow: 1px 1px 1px #944B40;
  color: #DFA784;
  font-size: 15px; }

p {
  color: rgba(0, 0, 0, 0.6); }
